p{font-size:20px;color:rgb(0, 0, 0);}
a{text-decoration:none;color:rgb(0, 0, 0);}
h1{text-align:center;font-size:40px;color:rgb(0, 0, 0);}
h2 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}
h2{font-size:25px;color:rgb(0, 0, 0);background-color: rgb(214, 214, 214);}
h3,h4,h5{font-size:20px;color:rgb(0, 0, 0);}
font{font-size: 30px;}
body{background-color: rgb(255, 255, 255);}
footer {
  width: 100%;
  height: 100px; 
  text-align: center;
  padding: 50px 0;
  background-color: #83ff8d;
}
ul.footer-menu li {
  display: inline-block;
    font-size:10px;
    list-style: none;
    padding: 10px;
  }
header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(193, 255, 213);
    align-items: center;
  }
   
  .title {
    margin-right: auto;
  }
   
  .menu-item {
    display: inline-block;
    font-size:20px;
    list-style: none;
    padding: 60px;
  }